.app {
  font-family: Poppins;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.product-card {
  border-radius: 5px;
  padding: 10px;
  height: 200px;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
